<h1>My Blog Posts</h1>
<br>
<p><%= link_to 'New post', new_post_path %></p>
<br>
<div>
	<% @posts.each do |post| %>
	<tr>
	<td><%= post.title %></td><br>
	<td><%= post.text %></td><br>
	<td><%= link_to 'Edit', edit_post_path(post) %></td><br>
	<td><%= link_to 'Delete', post_path(post), method: :delete %></td><br>
	</tr>
	<% end %>
</div>